<!DOCTYPE html>
<html lang="en-GB">
<head>
  {{ partial "head.html" . }}
</head>
{{- $bodyClass := slice -}}
{{- if .IsHome }}{{ $bodyClass = $bodyClass | append "is-home" }}{{ end -}}
{{- if and (eq site.Params.heroIntro true) .IsHome }}{{ $bodyClass = $bodyClass | append "has-hero-intro" }}{{ end -}}
<body id="top"{{ with $bodyClass }} class="{{ delimit . " " }}"{{ end }}>
  {{ partial "svg-defs.html" . }}
  {{ partial "header.html" . }}
  <main>
    {{ block "main" . }}{{ end }}
  </main>
  {{ partial "footer.html" . }}
  {{ partial "back-to-top.html" . }}
</body>
</html>
